@import 'global';

.place-map {
	height: 500px;

	// Responsive margins using foundation gutters
	@each $breakpoint, $value in $grid-column-gutter {
		@include breakpoint($breakpoint) {
			margin-bottom: $value;
		}
	}

	// Full width map on mobile
	@include breakpoint(small only) {
		margin-left: -(map-get($grid-column-gutter, small) / 2);
		margin-right: -(map-get($grid-column-gutter, small) / 2);
	}
}
