@import 'global';

.expand-collapse-toogle {
	display: none;
	visibility: hidden;

	~ .expand-collapse-button {
		.expand-button {
			display: inline-block;
		}
		.collapse-button {
			display: none;
		}
	}
	~ .expand-collapse-section {
		display: none;
	}
}
.expand-collapse-toogle:checked {
	~ .expand-collapse-button {
		.expand-button {
			display: none;
		}
		.collapse-button {
			display: inline-block;
		}
	}
	~ .expand-collapse-section {
		display: block;
	}
}

.filtered-results-warning {
	font-size: 0.95rem;
	margin-bottom: .5rem;
	color: $alert-color;
}
