<header class="header">
	<div class="row">
		<div class="columns">

			<div class="top-bar">
				<div class="top-bar-left">
					<ul class="menu">
						<li class="menu-text"><h1>MiamChoice !</h1></li>
						<li routerLinkActive="active"><a routerLink="/votes">Ce midi</a></li>
						<li routerLinkActive="active"><a routerLink="/places">Où manger ?</a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</header>

<div class="content">
	<div class="row">
		<div class="columns">

			<router-outlet></router-outlet>

		</div>
	</div>
</div>
